package components

templ Link(icon string) {
    <!-- Flowbite CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/icons/{{ icon }}">
}